In [1]:
import numpy as np
import pandas as pd

**Question 1** : What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.21.5'

##### Download data:

In [5]:
#create data folder if not exist:
!mkdir -p ./data

#download data in data folder:
!wget 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv' -P ./data/

--2022-09-08 05:46:58--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘./data/data.csv’

data.csv            100%[===================>]   1.41M  --.-KB/s    in 0.02s

2022-09-08 05:46:58 (82.2 MB/s) - ‘./data/data.csv’ saved [1475504/1475504]

**Question 2** : Number of records in the dataset

In [11]:
df = pd.read_csv('./data/data.csv')
df.shape[0]

11914

**Question 3**: The most popular car manufacturers

In [16]:
df.Make.value_counts()[0:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

**Question 4**: Number of unique Audi car models

In [22]:
df[df.Make == 'Audi'].Model.nunique()

34

**Question 5**: Number of columns with missing values

In [31]:
df.isnull().sum()[df.isnull().sum() != 0]

Engine Fuel Type       3
Engine HP             69
Engine Cylinders      30
Number of Doors        6
Market Category     3742
dtype: int64

**Question 6**: Does the median value change after filling missing values?

In [63]:
'''
Find the median value of "Engine Cylinders" column in the dataset.
Next, calculate the most frequent value of the same "Engine Cylinders".
Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
Now, calculate the median value of "Engine Cylinders" once again.
Has it changed?
'''

print(f'Before: {df['Engine Cylinders'].median()}')

most_frequent_value = df['Engine Cylinders'].value_counts().index[0]
df['Engine Cylinders'].fillna(most_frequent_value, inplace=True)
print(f'Before: {df['Engine Cylinders'].median()}')

6.0

**Questions 7**: Value of the first element of w

In [112]:
'''
Select all the "Lotus" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?
'''

X = df[df.Make=='Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates().values
XTX = X.dot(X.T)
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
w= (X.T.dot(XTX_inv)).dot(y)
w[0].round()

-1.5222166740528988e+20